.header {
    background-color: #f2f2f2;
    text-align: left;
    position: sticky;
    top: 0; /* ヘッダをテーブルの上部に固定 */
    z-index: 2; /* ヘッダが他のセルの上に表示されるようにする */
}

.sortable {
    cursor: pointer; /* ソート可能な列ヘッダのみポインターを表示 */
}

.sort-asc::after {
    content: ' ▲'; /* 昇順ソートを示す */
}

.sort-desc::after {
    content: ' ▼'; /* 降順ソートを示す */
}

.hidden-header {
    cursor: default;
}

.sticky-cell {
    position: sticky;
    background-color: inherit; /* 固定列の背景色を継承 */
    z-index: 1; /* 固定列が他のセルの上に表示されるようにする */
}

.sticky-header {
    position: sticky;
    top: 0;
    z-index: 3 !important; /* 固定列のヘッダが他のセルの上に表示されるようにする */
    background-color: inherit; /* 固定列の背景色を継承 */
}
